header{
    background-image: url("./Images/Landscape.png");
    background-color: black;
}

h1{
    font-size: 4rem;
    color: white;
    background-color: inherit;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
    line-height: 2.5rem;
}

b{
    font-size: inherit;
    font-weight: bold;
}

i{
    font-size:inherit;
}

a{
    font-size: 2rem;
}

.gradient{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.upper-header{
    height: 80vh;
    text-align: center;
    vertical-align: middle;
}

#intro{
    opacity: 0;
    transition: 7s opacity;
}

#welcome{
    font-size:3rem;
    text-align: center;
}

.inline-block{
    display:inline-flex;
}

nav{
    background-color: inherit;
    /* width: 75vw; */
}

nav a{
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown{
    overflow:hidden;
    background-color: inherit;
}

.dropdown ul {
    list-style-type: none;
    margin: 0rem 0 0 0rem;
}

.dropdown li {
    background-color: inherit;
}

.dropdown .dropdown-button{
    font-size: 2rem;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content li a {
    color: black;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.text-end{
    text-align: end;
}

.name{
    font-size: 4rem;
    color:rgb(110, 35, 180);
    padding: 0 1rem 0 0;
}

main{
    background-color: black;
}

.section-padding {
    padding: 10rem 0 10rem 23rem;
    align-items: center;
    width:60%;
}

.section-padding h2 {
    padding: 0 2rem 0 2rem;
}

.section-padding p {
    padding: 1rem 2rem 0 2rem;
}

.about-me {
    background-color: black;
    display: inline-block;
}

.style-block{
    min-height: 20vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-block p{
    width: 80%;
    text-align: center;
}

.portfolio {
    background-color: rgb(110, 35, 180);
}

.portfolio h2{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    width:50%;
}

.left-port{
    padding-top: 4rem;
}

.right-port{
    padding-top: 4rem;
}

#change-img:hover + .port-button, .port-button:hover{
    display:inline-block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, .45fr);
    grid-template-rows: repeat(2, .45fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    justify-content: center;
}

.thumbnail {
    display: grid;
}

.thumbnail img{
    max-width: 100%;
    height: auto
}

.thumbnail figcaption{
    text-align: center;
    font-size: 1.5rem;
}

#change-p{
    text-align: center;
}

.port-button{
    display: none;
    font-size: 2rem;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    background-color: inherit;
    align-self: center;
}

.contact-me{
    background-image: url("./Images/Full-Moon.jpg");
}

footer{
    background-image: url("./Images/Full-Moon.jpg");
    padding-bottom: 10rem;
}

@media only screen and (max-width: 1500px) {    
   
}
