header{
    background-image: url("/Users/Don Mattington/Pictures/Slideshow/n0x244u8ajez.png");
    background-color: black;
}
h1{
    font-size: 4rem;
    color: white;
    background-color: inherit;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 2rem;
}

.gradient{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}


.upper-header{
    height: 175vh;
    text-align: center;
    vertical-align: middle;
}

#intro{
    opacity: 0;
    transition: 3s opacity;
}

#welcome{
    font-size:3rem;
    text-align: center;
}

.inline-block{
    display:inline-block;
}

nav{
    display:flex;
    background-color: inherit;
    width: 75%;
}

nav a{
    font-size: 2rem;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: inherit;
}

.dropdown{
    float: left;
    overflow:hidden;
    background-color: inherit;
}

.dropdown ul {
    list-style-type: none;
    margin: 0rem 0 0 -1rem;
}

.dropdown li {
    background-color: inherit;
}

.dropdown .dropdown-button{
    font-size: 2rem;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content li a {
    color: black;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.name{
    font-size: 4rem;
    color: white;
    background-color: inherit;
}

.reverse-gradient{
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.about-me {
    height: 100vh;
    text-align: center;
    background-image: url("/Users/Don Mattington/Pictures/Slideshow/Big\ Moon.jpg");
    width: auto;
    padding-top: 10rem;
}

.about-me p {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem 0 2rem;
}

.midway{
    width: auto;

    background-color: blueviolet;
}

.portfolio {
    text-align: center;
    background-image: url("/Users/Don Mattington/Pictures/Slideshow/Eclipse.jpg");
    width: auto;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.test {
    height: 50%;
    width: 50%;
}

.test:hover{
    opacity: 0.6;
}

.contact{
    background-image: url("/Users/Don Mattington/Pictures/Slideshow/Nice\ moon.jpg");
}

footer{
    background-color: blueviolet;
    overflow: hidden;
}