* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: white;

    font-family: inherit;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-color: inherit;
}
