:root {
  --byz: #4E1D45;
  --gold: #FFE02E;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: white;

  font-family: inherit;
  font-size: inherit;

  background-color: var(--byz);
}

.hr{
  border-left: 4px solid var(--gold);
  height:100%;
}