*{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: white;

  font-family: inherit;
  font-size: inherit;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-color: inherit;
}

header{
  background-image: url("/public/Assets/Images/Landscape.png");
}

h2{
  font-size: 3rem;
}

p{
  line-height: 2.5rem;
}

b{
  font-weight: bold;
}

a{
  text-decoration: none;
}

p, a, .dropdown .dropdown-button, .port-button, b{
  font-size: 2rem;
}


.gradient{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.upper-header{
  height: 80vh;
}

#intro{
  opacity: 1;
  transition: 7s opacity;
}

#intro, .inside-section, .inner-footer, .inner-p{
  max-width: 60%;
  margin: auto;
}

#welcome, .name{
  font-size: 4rem;
}

#about-me-nav, #contact-me-nav, .dropdown, figcaption{
  padding: 1rem;
}

.flex{
  display:flex;
  align-items: center;
}

.flex, .grid{
  justify-content: center;
}

.dropdown ul {
  list-style-type: none;
}

.dropdown .dropdown-button, .port-button{
  border: none;
  outline: none;
}

.dropdown-content, .port-button{
  position: absolute;
}

.dropdown-content, .port-button{
  display: none;
}

.dropdown-content {
  background-color: blueviolet;
  min-width: 6.5rem;
  z-index: 1;
}

.dropdown-content li a, .dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content li a:hover {
  background-color: rgb(110, 35, 180);
}

.name{
  color:rgb(110, 35, 180);
}

.inside-section {
  padding: 10rem 0 10rem 0
}

.about-me {
  background-color: black;
}

#self-portrait{
  margin-left: 1rem;
  margin-top: 1.5rem;
  max-width: 100%;
}

.about-me h2, .about-me p, hr, .top-portfolio, #portfolio h2, #portfolio p{
  margin-bottom: 1rem;
}

#portfolio hr{
  border-color: black;
}

hr{
  border-color: rgb(110, 35, 180);
}

.about-me a{
  color: blueviolet;
}

.spacer-block{
  min-height: 20vh;
  background-color: blueviolet;

}

#portfolio{
  background-color: rgb(110, 35, 180);
}

.main-image-wrapper:hover #change-img{
  opacity: 60%;
}

.port-button{
  background-color: initial;
}

#change-img:hover + .port-button, .port-button:hover{
  display:block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, .45fr);
  grid-template-rows: repeat(1, .45fr);
  grid-column-gap: 4rem;
}

.main-image-wrapper, .port-button, .thumbnail{
  cursor: pointer;
}

.thumbnail img, .main-image-wrapper img{
  max-width: 100%;
  height: auto;
}

.thumbnail figcaption, #change-p, .dropdown-content, #portfolio h2{
  text-align: center;
}

.thumbnail img{
  display: block;
}

figcaption{
  font-size: 1.5rem;
  background-color: rgb(0, 0, 0, 0.3);
}

.contact-me{
  background-image: url("/public/Assets/Images/Full-Moon.jpg");
}

.contact-me a{
  text-decoration: underline;
}

footer{
  background-image: url("/public/Assets/Images/Full-Moon.jpg");
}

.inner-footer{
  padding: 0 0 10rem 0;
}

@media only screen and (max-width: 1771px) {    
  #self-portrait{
      margin-top: 0rem;
      margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 1107px) {    
  h2{
      font-size: 2rem;
  }
  
  p, a, .dropdown .dropdown-button, .port-button, b{
      font-size: 1.5rem;
  }

  p{
      line-height: 2rem;
  }

  #welcome, .name{
      font-size: 3rem;
  }

  figcaption{
      font-size: 1rem;
  }

  #intro, .inside-section, .inner-footer, .inner-p{
      max-width: 80%;
  }
}

@media only screen and (max-width: 834px) {    
  #welcome, .name{
      font-size: 2.5rem;
  }

  #self-portrait{
      height: 250px;
      width: 250px;
  }
}

@media only screen and (max-width: 698px) {    
  .name, #welcome {
      padding-bottom: .5rem;
  }

  h2{
      font-size: 1.5rem;
  }
  
  p, a, .dropdown .dropdown-button, .port-button, b{
      font-size: 1.25rem;
  }

  p{
      line-height: 1.5rem;
  }

  #welcome, .name{
      font-size: 1.75rem;
  }

  figcaption{
      font-size: .75rem;
  }

  #self-portrait{
      height: 200px;
      width: 200px;
      margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 575px) {    

  nav a, .dropdown .dropdown-button{
      font-size: .75rem;
  }

  .grid{
      grid-template-columns: repeat(2, .45fr);
      grid-template-rows: repeat(2, .45fr);
  }

  .thumbnail{
      margin-bottom: .5rem;
  }

  

  #self-portrait{
      height: 150px;
      width: 150px;
  }
}